{% extends "base.html" %}

{% block title %} Title {% endblock %}
{% block content %}
<!--    <h1>Upload your CSV file</h1>-->
<!--    <form method="POST" action="" enctype="multipart/form-data">-->
<!--      <p><input type="file" name="file"></p>-->
<!--      <p><input type="submit" value="Submit"></p>-->
<!--    </form>-->

<div class="form mt-5 ml-5 pl-5">
    <!--<div class="card1">-->
    <form method="POST" action="/upload" enctype="multipart/form-data">
<div class="file-upload">
  <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Ajouter Fichier</button>

  <div class="image-upload-wrap">
    <input class="file-upload-input" type='file' onchange="readURL(this);" name="file"/>
    <div class="drag-text">
      <h3>Clicker ici pour choisir le fichier </h3>
    </div>
  </div>
  <div class="file-upload-content">
    <div class="image-title-wrap">
      <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
      <br/><br/>
        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )" value="submit">Save</button>
    </div>
  </div>
</div>
    </form>
        <!--</div>-->
</div>

<!--/.Card-->
{% endblock %}
