{% extends "base.html" %}

{% block title %} Title {% endblock %}

{% block content %}


<div class="list">
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            {% if category == 'message' %}
              <div class="alert alert-success" role="alert">
            {% else %}
              <div class="alert alert-{{ category }}" role="alert">
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            {% endif %}
              <div class="message">{{ message }}</div>
            </div>

        {% endfor %}
      {% endif %}
  {% endwith %}
<div id="loading"></div>

<form method="POST" id="testForm" action="/selectWinner">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Vision</th>
      <th scope="col">Scheme Code</th>
      <th scope="col">Account Number</th>
      <th scope="col">Account Name</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  {% for item in data.items %}
  <tbody>
    <tr>

      <td>{{item.visionOuc}}</td>
      <td>{{item.schemeCode}}</td>
      <td>{{item.accountNo}}</td>
      <td>{{item.accountName}}</td>
      <td>{{item.phoneNumber}}</td>
    </tr>
  </tbody>
             {% endfor %}
</table>

<button type="submit" value="Submit" class="btn btn-success" data-toggle="modal" data-target="#loadMe">Selectionner</button>

</form>
<!-- Modal -->
<div class="modal fade" id="loadMe" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="loadMeLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="loader"></div>
        <div clas="loader-txt">
          <p> Dans 30 secondes nous allons sélectionner un client. <br><br><small> Etes-vous prêt... #UBA</small></p>
            <img class="img-gif" src="{{ url_for('static', filename='gif-time.gif') }}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Pagination Links-->
<div class="text-right">
    <a href="{{ url_for('main.getParticipants', page=data.prev_num) }}"
       class="btn btn-outline-dark
       {% if data.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
<!-- Loop through the number of pages to display a link for each-->
    {% for page_num in data.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
            {% if data.page == page_num %}
            <a href="{{ url_for('main.getParticipants', page=page_num) }}"
               class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('main.getParticipants', page=page_num) }}"
               class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('main.getParticipants', page=data.next_num) }}"
       class="btn btn-outline-dark
       {% if data.page == data.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-right mt-3">
    {{ data.page }} of {{ data.pages }}
</p>

</div>

<script>
$(document).ready(function() {
    $('#loadMe').on('shown.bs.modal', function () {
    $("#loadMe").modal({
      backdrop: "static", //remove ability to close modal with click
      keyboard: false, //remove option to close with keyboard
      show: true //Display loader!
    });
    setTimeout(function() {
      $("#loadMe").modal("hide");
    }, 30000);
})
});
</script>
</div>
{% endblock %}
