<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/bootstrap.css">
    <link rel="stylesheet" href="./static/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="./static/css/material-design-iconic-font.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a href="#">Jeu Concours</a>
    </header>
    <ul class="nav">
      <li>
        <a href="{{ url_for('main.home') }}">
          <i class="zmdi zmdi-view-dashboard"></i> Dashboard
        </a>
      </li>
      <li>
        <a href="{{ url_for('main.getParticipants') }}">
          <i class="zmdi zmdi-link"></i> Participants
        </a>
      </li>
      <li>
        <a href="{{ url_for('main.getWinner') }}">
          <i class="zmdi zmdi-widgets"></i> Gagnants
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-calendar"></i> Events
        </a>
      </li>
    </ul>
  </div>
  <!-- Content -->
  <div id="nav-content">
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
<!--          <li>-->
<!--            <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>-->
<!--            </a>-->
<!--          </li>-->
          {% if current_user.is_authenticated() %}
              <li class="nav-item">
                <a href="#" class="nav-link">{{ current_user.username }}</a>
                  <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
              </li>
              {% else %}
              <li class="nav-item {{ 'active' if active_page == 'login' }}">
                <a href="{{ url_for('auth.login') }}" class="nav-link">Login</a>
              </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>
  </div>
</div>
    {% block content %}
    {% endblock %}
<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            'processing': true,
            'serverSide': true,
            'serverMethod': 'post',
            'ajax': {
                'url': '/winner'
            },
            'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            searching: true,
            sort: false,
            "serverSide": true,
            'columns': [
                        { data: 'firstname' },
                        { data: 'lastname' },
                        { data: 'num_account' },
                        { data: 'somme' },
            ]
        });
    });
</script>
</body>

</html>