<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/jpg" src="{{ url_for('static', filename='uba-banque.jpg') }}">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/bootstrap.css">
    <link rel="stylesheet" href="./static/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="./static/css/material-design-iconic-font.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <title>{% block title %}Game{% endblock %}</title>
</head>
<body>
    <div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a href="#">Jeu Concours</a>
    </header>
    <ul class="nav">
      <li>
        <a href="{{ url_for('main.home') }}" >
          <i class="zmdi zmdi-view-dashboard"></i> Dashboard
        </a>
      </li>
      <li>
        <a href="{{ url_for('main.getParticipants') }}">
          <i class="zmdi zmdi-link"></i> Participants
        </a>
      </li>
      <li>
        <a href="{{ url_for('main.getWinner') }}">
          <i class="zmdi zmdi-widgets"></i> Gagnants
        </a>
      </li>
    </ul>
  </div>
  <!-- Content -->
  <div id="nav-content">
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
<!--          <li>-->
<!--            <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>-->
<!--            </a>-->
<!--          </li>-->
          {% if current_user.is_authenticated() %}
              <li class="nav-item dropdown">
                <a href="#" class="nav-link" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.username }}</a>
                  <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
              </li>
              {% else %}
              <li class="nav-item {{ 'active' if active_page == 'login' }}">
                <a href="{{ url_for('auth.login') }}" class="nav-link">Login</a>
              </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>
  </div>
</div>
    {% block content %}
    {% endblock %}
</body>

</html>